.burger{
  display: block;
  border: none;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &__icon{
    width: 100%;
    height: 100%;
    fill: $title-light-color;
  }
}
