%cls-button {
  display: block;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  background-image: url("./../img/X.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    transform: rotate(90deg);
    transition: transform 0.5s;
  }
}
