%section-title {
  font-family: $main-font;
  font-size: $title-small-font-size;
  font-weight: $black;
  line-height: 16px;
  color: $title-dark-color;
  text-transform: uppercase;

  @include mobile-big {
    font-size: 21px;
    line-height: 25.66px;
  }

  @include tablet-small {
    font-size: 27px;
    line-height: 33.65px;
  }

  @include tablet-big {
    font-size: 34px;
    line-height: 42.06px;
  }

  @include desktop-small {
    font-size: 30px;
    line-height: 37.5px;
  }

  @include desktop-big {
    font-size: $title-middle-font-size;
    line-height: 45px;
  }
}

%section-h3-title {
  font-family: $main-font;
  font-size: $mobile-font-size;
  font-weight: $black;
  line-height: 13px;
  color: $title-dark-color;
  text-transform: uppercase;

  @include mobile-big {
    font-size: 13.5px;
    line-height: 19.5px;
  }

  @include tablet-small {
    font-size: 9px;
    line-height: 13.5px;
  }

  @include tablet-big {
    font-size: 11.2px;
    line-height: 16.8px;
  }

  @include desktop-small {
    font-size: 10px;
    line-height: 15px;
  }

  @include desktop-big {
    font-size: 12px;
    line-height: 18px;
  }
}

%section-text {
  font-family: $main-font;
  font-size: $mobile-font-size;
  font-weight: $regular;
  line-height: 13px;
  color: $title-dark-color;

  @include mobile-big {
    font-size: 14px;
    line-height: 19.5px;
  }

  @include tablet-small {
    font-size: 8px;
    line-height: 11.78px;
  }

  @include tablet-big {
    font-size: $vertical_small-font-size;
    line-height: 14.72px;
  }

  @include desktop-small {
    font-size: $mobile-font-size;
    line-height: 13.13px;
  }

  @include desktop-small {
    font-size: $main-font-size;
    line-height: 15.75px;
  }
}

%link{
  display: block;
  text-decoration: none;
}

%img {
  display: block;
  max-width: 100%;
  height: auto;
}