// break-point
$phone-big-break-point: 480px;
$tablet-small-break-point: 768px;
$tablet-big-break-point: 960px;
$desktop-small-break-point: 1200px;
$desktop-big-break-point: 1440px;

// fonts
$text-font: 'Open Sans', sans-serif;
$title-font: 'PT Mono', monospace;

// font-weight
$regular: 400;
$bold: 700;

// font-size
//Ann will change!!!!!!
$mainmenu-font-size: 36px;
$title-big-font-size: 20px;
$title-middle-font-size: 14px;
$text-font-size: 11px;
$button-font-size: 11px;

// color
$main-worm-color: #E3AD3E;
$rout-arterial:#336600;
$rout-access:  #88A80D;
$rout-recreation: #CCFF00;;
$black-color: #000;
$white-color: #fff;

//opacity
$opacity: 0,5;

