// break-point
$phone-big-break-point: 480px;
$tablet-small-break-point: 768px;
$tablet-big-break-point: 960px;
$desktop-small-break-point: 1120px;
$desktop-big-break-point: 1440px;

// fonts
// $text-font: 'Open Sans', sans-serif;
// $title-font: 'PT Mono', monospace;
$text-font: "Roboto", sans-serif;
$title-font: "Roboto", sans-serif;

// font-weight
$regular: 400;
$bold: 700;

// font-size
$mainmenu-font-size: 0.7em;
$title-big-font-size: 26px;
$title-middle-font-size: 22px;
$title-small-font-size: 20px;
$text-font-size: 16px;
$text-font-size-small: 13px;
$button-font-size: 18px;

// color
$main-worm-color: #fbae17;
$main-worm-color--08: rgba(251, 175, 23, 0.8);
$main-worm-color--09: rgba(251, 175, 23, 0.9);
$rout-arterial: #336600;
$rout-access: #88a80d;
$rout-recreation: #6fc66b;
$black-color: #000;
$white-color: #fff;

//opacity
$opacity: 0, 5;
