// break-point
$phone-big-break-point: 480px;
$tablet-small-break-point: 768px;
$tablet-big-break-point: 960px;
$desktop-small-break-point: 1200px;
$desktop-big-break-point: 1440px;

// fonts
$main-font: Acrom, Arial, sans-serif;
$bottomfooter-font: Gilroy, Arial, sans-serif;
$number-font: Futura, Arial, sans-serif;

// font-weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// font-size
$bg-font-size: 250px;
$title-big-font-size: 60px;
$title-middle-font-size: 36px;
$count-font-size: 23px;
$title-small-font-size: 12px;
$main-font-size: 11px;
$vertical_small-font-size: 10px;
$mobile-font-size: 9px;

// color
$title-dark-color: #000000;
$title-light-color: #ffffff;
$text-color: #3f4144;
$mark-warm-color: #ff6b08;
$mark-cold-color: #16ebfe;
$upperfootercolor: #181c27;
$bottomfooter-color: #202020;
$importantbg-color: #052139;
$outline-botton-color: #181c27;


