html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font;
  font-size: $mobile-font-size;
  font-weight: $regular;
  line-height: 13px;

  @include mobile-big{
    font-size: 13.5px;
    line-height: 19.5px;
  }

  @include tablet-small{
    font-size: 9px;
    line-height: 13.5px;
  }

  @include tablet-big{
    font-size: 9.8px;
    line-height: 16.8px;
  }

  @include desktop-small{
    font-size: 8.75px;
    line-height: 15px;
  }

  @include desktop-big{
    font-size: 10.5px;
    line-height: 18px;
  }

}

// img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
  margin: 0;
  padding: 0;
}

// .wrapper{
//   position: relative;
//   max-width: 848px;
//   margin: 0 auto;
//   padding-top: 32px;
//   padding-bottom: 40px;

//   @include tablet{
//     width: 100%;
//   }

//   @include mobile{
//     min-width: 290px;
//   }
// }
