.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  font-family: $title-font;
  animation: bounceInDown 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);

  &__show-button {
    position: absolute;
    top: 10px;
    left: 18px;
    z-index: 9;
    background-color: $main-worm-color;
    cursor: pointer;
    width: 57px;
    height: 57px;
    border-radius: 35px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;

    &--closed {
    }
  }

  &__list {
    display: block;
    padding: 72px 10px 10px;
    width: 180px;
    max-height: 100vh;
    overflow-y: auto;
    background: linear-gradient($main-worm-color 40%, rgba(255, 255, 105, 0));
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 1s, opacity 0.7s;

    @media (min-width: 1169px) {
      width: 330px;
    }

    &--hidden {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  }

  &__item {
    text-decoration: none;
    color: $black-color;
    background-color: $white-color;
    padding: 4px 21px 4px 4px;
    margin-bottom: 12px;
    position: relative;
    border-radius: 4px;
    transition: transform 0.2s;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      transform: scale(1.03);
    }

    &--recreational::after {
      background-color: #00bc66;
    }

    &--magistral::after {
      background-color: #0099dd;
    }

    &--touristic::after {
      background-color: #eb8853;
    }

    &::after {
      display: block;
      position: absolute;
      right: 7px;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 7px;
    }
  }

  &__subitem {
    position: absolute;
    left: 101%;
    top: 25px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 1s, opacity 0.7s;
    pointer-events: all;
    max-width: 135px;

    &--hidden {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
      pointer-events: none;
    }

    @include tablet-small {
      max-width: 100%;
    }
  }
}
// -----------------------

.routes {
  padding: 6px;
  width: 150px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  border-radius: 4px;
  background: $main-worm-color;

  @include tablet-small {
    max-height: calc(100vh - 50px);
  }

  @media (min-width: 1169px) {
    width: 330px;
    font-size: $button-font-size;
  }

  &__item {
    text-decoration: none;
    color: $black-color;
    background-color: $white-color;
    margin-bottom: 10px;
    background-color: $white-color;
    border-radius: 4px;
    padding: 2px;
    padding-left: 5px;
    cursor: pointer;
    transition: transform 0.2s;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      transform: scale(1.03);
    }
  }
}
