.trafic-section {
  width: 100%;
  background: linear-gradient($main-worm-color, rgba(255, 255, 105, 0));
  font-family: $text-font;
  font-size: $text-font-size;
  line-height: 1.5;

  &--accident {
    padding: 2rem 2.1% 2.6%;
  }

  & a {
    text-decoration: none;
  }

  &__inner {
    margin-bottom: 0.5rem;
    padding: 0 0 2.6%;

    &:last-of-type {
      margin-bottom: 0;
    }

    & p:last-of-type {
      margin-bottom: 0;
    }
  }

  &__title {
    padding-bottom: 1rem;
    font-family: $title-font;
    font-size: $title-big-font-size;
    font-weight: $regular;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 1.2;
  }

  &__title2 {
    font-size: $title-middle-font-size;
    font-family: $title-font;
    padding: 0 1.3% 0.3rem;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: $regular;
  }

  &__title3 {
    font-size: $text-font-size;
    font-family: $title-font;
  }

  & span {
    text-transform: lowercase;
  }

  &--expended {
    padding-bottom: 0;
  }
}

.title2__button {
  background-image: url(../img/text_vniz.svg);
  width: 1rem;
  height: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  right: 1.5rem;
  top: 0.3rem;
}

.section-whatDo {
  & li {
    position: relative;
    margin-bottom: 0.3rem;
    padding-left: 2rem;
  }

  & li::before {
    content: url(../img/checkbox.svg);
    position: absolute;
    left: 0;
    width: 1.2rem;
    height: 1.2rem;
  }
}

.help-button {
  display: block;
  width: 50%;
  height: 2.2rem;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: $button-font-size;
  font-family: $title-font;
  font-weight: $bold;
  background-color: #fff;
  border: none;
  border-radius: 0.3rem;

  &:active {
    border: 1px solid $white-color;
  }

  &--fb {
    background-color: $main-worm-color;
    color: $white-color;

    &:active {
      border: 1px solid $black-color;
      color: $black-color;
    }
  }

  & a {
    color: $black-color;
  }
}

.inner-list > p {
  position: relative;

  &::before {
    content: url(../img/point.svg);
    position: absolute;
    left: -1.5rem;
    bottom: -0.45rem;
    width: 2.2rem;
    height: 2.2rem;
  }
}

.inner-list--trafic {
  padding: 0 2.1% 2.6%;

  & p {
    text-indent: 1rem;
  }

  & p::before {
      left: -1.5rem;
      top: -0.4rem;
    }
}
